<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" style="border-collapse: collapse" width="90%">
    <thead>
    <tr>
        <th> NO.</th>
        <th> 주문일자</th>
        <th> 배송일자</th>
        <th> 공급자</th>
        <th> 상품내역 요약</th>
        <th> 거래현황</th>

    </tr>
    </thead>
    <tbody>
    <!-- CONTENTS !-->
    <tr th:each="board : ${boardList}">
        <td>
            <form th:action="@{/detail}" method="get">
                <span th:text="${board.id}"></span>
            </form>
        </td>
        <td>
            <span th:text="${board.order_date}"></span>
        </td>
        <td>
            <span th:text="${board.delivert}"></span>
        </td>
        <td th:herf="@{/member}">
            <span th:text="${board.producer}"></span>
        </td>
        <td>
            <span th:text="${board.title}"></span>
        </td>
        <td>
            <span th:text="${board.trans}"></span>
        </td>

    </tr>
    </tbody>
</table>
<table border="1" style="border-collapse: collapse "width="90%">
    <thead>
    <tr>
        <th> 거래명세서</th>
        <th> 세금계산서</th>
        <th> 출하증명서</th>
    </tr>
    <tr>
        <td>
            <div style="height: 100%"></div>
            <img th:src="${board.trans_filepath}">
            </div>
        </td>
        <td>
            <div style="height: 100%"></div>
            <img th:src="${board.tax_filepath}">
            </div>
        </td>
        <td>
            <div style="height: 100%"></div>
            <img th:src="${board.shop_filepath}">
            </div>
        </td>
    </tr>
</table>
</body>
</html>